# https://editorconfig.org/
root = true

# Global
[*]
insert_final_newline = true
trim_trailing_whitespace = true

# JSON
[*.json]
indent_size = 2

# SQL
[*.sql]
indent_style = tab
indent_size = 4
